<!DOCTYPE html>
<html>
  <head>
    <title>Splitsum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">


    <%= favicon_link_tag asset_path('splitsum_logo.png') %>

    <script type="text/javascript">
      window.airplane_icon = "<%= image_url('airplane_icon.png') %>";
      window.airplane = "<%= image_url('airplane.png') %>";
      window.background_2 = "<%= image_url('background_2.png') %>";
      window.heart_icon = "<%= image_url('heart_icon.png') %>";
      window.house_icon = "<%= image_url('house_icon.png') %>";
      window.splitsum_logo = "<%= image_url('splitsum_logo.png') %>";
      window.star_icon = "<%= image_url('star_icon.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
